/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    
    a{
        color: black;
    }

    a:visited {
        color: black; /* Mesma cor do link normal */
    }

    .user-logo{
        .img-user {
            width: 34px;
            padding: 2px;
            border-radius: 25px;
            border: 1px solid black;
        }
        
    }


    .img-logo{
        width: 100px;

    }

    .div-logo{
        display: flex;
        align-items: center;
    }
}

.container{
    display: flex; 
    height: 100vh; 

    main{
        flex: 1; 
        padding: 20px; 

    }

    aside{   
        width: 110px; 
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        color: white; 
        padding: 20px;
        
        ul{
            text-align: center;

            li{

                margin-bottom: 24px;

                p{
                    color: black;
                }
            }
        }
        
        img{
            width: 40px;
        }


        
    }
}


/* Login */

/* Corpo da pagina de login*/
.corpo-login {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Div que une a logo e o nome do sistema */
.div-logo-login{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    h1{
        padding-bottom: 10px;
    }
}


/* Inputs da tela de login */
input[type="text"], input[type="password"], input[type="email"], input[type="date"], select, input[type="file"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
} 

.div-btn-login{
    text-align: center;
    
    .buttonForm{     
        background-color: rgb(49, 48, 48);
        padding: 10px;
        width: 50vw;
        color: #e4e2e2;
        border-radius: 4px;
        font-size: 14pt;
    }
}

.buttonForm:hover{
    cursor: pointer;
    background-color: rgb(22, 22, 22);
}

   
/* Main */

main {
    padding: 1rem;

    h2{
        margin-bottom: 10px;
    }

    a{
        color: black;
    }

    a:visited {
        color: black; /* Mesma cor do link normal */
    }
}


/* Home admin */
.conjunto-ferramentas, .conjunto-cursos {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.ferramenta, .cursos {
    display: flex;
    box-shadow: 0px 4px 8px rgba(2, 2, 2, 0.3);
    margin-bottom: 1rem;
    border-radius: 10px;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;

    img{
        width: 150px;
        height: auto;
    }

    div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem; 
        padding: auto;

        span {
            font-size: 1.5rem; 
            font-weight: bold; 
        }
    }
}  


/* Cadastrar Usuarios */
.col{
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem de linha */
    gap: 10px; /* Espaço entre os campos */
}

.div-input{
    flex: 1 1 calc(50.00% - 10px); /* Cada coluna ocupa 33.33% com espaço entre colunas */
    min-width: 200px; /* Largura mínima para manter responsivo */
}

.div-form{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.main-forms-cadastro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* Visualizar Usuarios */
.div-filtro{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;

    img{
        width: 36px;
        height: auto;
    }

    .b{
        margin-bottom: 15px;
    }
}

.div-tabela{
    display: flex;
    
    justify-content: center;

    

    table{
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        
        thead{
            background-color: rgb(194, 187, 187);
            
            th{
                padding: 10px;    

            }
            
        }

        tbody{
            background-color: rgb(231, 226, 226);

            td{
                padding: 10px;    

            }
        }
    }
}


/* Cadastrar Curso */
.col-checkbox{
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem de linha */
    gap: 20px; /* Espaço entre os campos */
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    

    div{

        input[type="checkbox"]{
            transform: scale(2.5);
            border: 1px solid #ccc;
            margin-right: 20px;
        }
    }
}


/* Curso Especifico */
.opcoes-curso{
    display: flex;

    justify-content: space-between;
    
    img{
        width: 5px;
        height: auto;
    }
}

.turmas{
    display: flex;
    box-shadow: 0px 4px 8px rgba(2, 2, 2, 0.3);
    margin-bottom: 1rem;
    border-radius: 10px;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 20px;

    img{
        width: 100px;
        height: auto;
    }

    div{
        span {
            font-size: 1.5rem; 
            font-weight: bold; 
        }
    }
}


.corpo-telas-form {
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

