<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Admin</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="homeAdmin.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo2.jpg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <main>
            <h2>Ferramentas: Cadastrar Cursos</h2>
            
            <form action="turma.html">
                <div class="col">
                    <div class="div-input">
                        <label for="nome">Nome</label><br>
                        <input type="text" id="nome" name="nome" placeholder="Insira o nome" ><br>
                    </div>
                    <div class="div-input">
                        <label for="posicao">Tipo de Trabalho</label>
    
                        <select name="tipo_trabalho" id="tipo_trabalho">
                        <option value="" disabled selected>Selecione um Tipo de Trabalho</option>   
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        </select>
                    </div>
                    <div class="div-input">
                        <label for="duracao">Duração do Curso</label>
    
                        <select name="duracao" id="duracao">
                        <option value="" disabled selected>Selecione a Duração do Curso</option>   
                        <option value="Semestral">Semestral</option>
                        <option value="Anual">Anual</option>
                        </select>
                    </div>
                    <div class="div-input">
                        <label for="coordenador">Coordenador</label><br>
                        <input type="text" id="coordenador" name="coordenador" placeholder="Insira o Cordenador" ><br>
                    </div>
                    
                </div>               
                <div class="col">                  
                    <div class="div-input">
                        <label> Perido do Curso</label><br>
                        <div class="col-checkbox">
                            <div>
                                <input type="checkbox" name="matutino" value="matutino"> 
                                <label>Matutino </label>
                            </div>

                            <div>
                                <input type="checkbox" name="vespertino" value="vespertino">  
                                <label>Vespertino</label>  
                            </div>

                            <div>
                                <input type="checkbox" name="noturno" value="noturno"> 
                                <label>Noturno</label>         
                            </div>                           
                        </div>
                    </div>
                </div>
                    
                <div class="div-btn-login">
                    <a href="homeAdmin.html">
                        <input type="submit" class="buttonForm" value="Enviar">
                    </a>
                </div>
            </form>
        </main>
    </body>
</html>