<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Admin</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="turma.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo2.jpg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <main>
            <h2>Cadastrar Usuários</h2>
            
            <form action="turma.html">
                <div>
                    <label for="nome">Login</label><br>
                    <input type="text" id="nome" name="nome" placeholder="Insira o nome" ><br>
                </div>
                <div>
                    <label for="cpf">CPF</label><br>
                    <input type="text" id="cpf" name="cpf" placeholder="Insira o CPF" ><br>
                </div>
                <div>
                    <label for="email">Email</label><br>
                    <input type="text" id="email" name="email" placeholder="Insira o email" ><br>
                </div>
                <div>
                    <label for="senha">Senha Temporária</label><br>
                    <input type="password" id="senha" name="senha" placeholder="*********">
                </div>
                <div class="div-btn-login">
                    <a href="turma.html">
                        <input type="submit" class="buttonForm" value="Enviar">
                    </a>
                </div>
            </form>
        </main>
    </body>
</html>