<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Admin</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="homeAdmin.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo-sgtc.svg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <div class="container">
            <aside>   
                <ul>
                    <li>
                        <a href="homeAdmin.html"> 
                            <img src="../src/assets/img/user-gear.svg" alt="Ferramenta Usuários" >
                            <p>Usuários</p>
                        </a>
                    </li>
                    <li>
                        <a href="cursos.html"> 
                            <img src="../src/assets/img/graduation-cap.svg" alt="Ferramenta Cursos" >
                            <p>Cursos</p>
                        </a>
                    </li>
                    <li>
                        <a href="turmas.html"> 
                            <img src="../src/assets/img/users-rectangle.svg" alt="Ferramenta Turmas" >
                            <p>Turmas</p>
                        </a>
                    </li>
                    <li>
                        <a href="diciplinas.html"> 
                            <img src="../src/assets/img/book-solid.svg" alt="Ferramenta Diciplinas" >
                            <p>Diciplinas</p>
                        </a>
                    </li>
                </ul>
            </aside>
            <main class="main-forms-cadastro">
                <h2>Ferramentas > <a href="turmas.html">Turmas</a> > <a href="cadastrarTurmas.html"> Cadastrar Turmas</a></h2>
                
                <form action="turma.html">
                    <div>
                        <label for="nome">Nome</label><br>
                        <input type="text" id="nome" name="nome" placeholder="Insira o nome" ><br>
                    </div>

                    <div>
                        <label>Turno do Curso</label><br>
                        <div class="col-checkbox">
                            <div>
                                <input type="checkbox" name="matutino" value="matutino"> 
                                <label>Matutino </label>
                            </div>

                            <div>
                                <input type="checkbox" name="vespertino" value="vespertino">  
                                <label>Vespertino</label>  
                            </div>

                            <div>
                                <input type="checkbox" name="noturno" value="noturno"> 
                                <label>Noturno</label>         
                            </div>                           
                        </div>
                    </div>

                    <div id="turma-container">
                        <button type="button" id="add-turma-btn">Adicionar turma(s) +</button>
                    </div>
                    
                    <!-- Modal -->
                    <div id="turma-modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Selecione uma turma...</p>
                        </div>
                    </div>
                    

                        
                    <div class="div-btn-login">
                        <a href="homeAdmin.html">
                            <input type="submit" class="buttonForm" value="Enviar">
                        </a>
                    </div>
                </form>
            </main>
        </div>
        
    </body>

    <script>
        // Seleciona o botão e o modal
        const modal = document.getElementById("turma-modal");
        const btn = document.getElementById("add-turma-btn");
        const span = document.getElementsByClassName("close")[0];

        // Quando o usuário clica no botão, o modal aparece
        btn.addEventListener('click', function() {
            modal.style.display = "block";
        });

        // Quando o usuário clica no "x", o modal fecha
        span.addEventListener('click', function() {
            modal.style.display = "none";
        });

        // Quando o usuário clica fora do modal, ele fecha
        window.addEventListener('click', function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });


    </script>
</html>