<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Admin</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="homeAdmin.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo-sgtc.svg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <div class="container">
            <aside>   
                <ul>
                    <li>
                        <a href="homeAdmin.html"> 
                            <img src="../src/assets/img/user-gear.svg" alt="Ferramenta Usuários" >
                            <p>Usuários</p>
                        </a>
                    </li>
                    <li>
                        <a href="cursos.html"> 
                            <img src="../src/assets/img/graduation-cap.svg" alt="Ferramenta Cursos" >
                            <p>Cursos</p>
                        </a>
                    </li>
                    <li>
                        <a href="turmas.html"> 
                            <img src="../src/assets/img/users-rectangle.svg" alt="Ferramenta Turmas" >
                            <p>Turmas</p>
                        </a>
                    </li>
                    <li>
                        <a href="diciplinas.html"> 
                            <img src="../src/assets/img/book-solid.svg" alt="Ferramenta Diciplinas" >
                            <p>Diciplinas</p>
                        </a>
                    </li>
                </ul>
            </aside>
            <main class="main-forms">
                <h2>Ferramentas > <a href="homeAdmin.html">Usuários</a> > <a href="cadastrarUsuarios.html">Cadastrar Usuários</a></h2>
                
                <div>
                    <form action="turma.html">
                        <div>
                            <div>
                                <label for="areaAtuacao">Área de Atuação:</label>
                                <select name="areaAtuacao" id="areaAtuacao" required>
                                    <option value="" disabled selected> Selecione a Atuação do Usuário</option>   
                                    <option value="Aluno">Aluno</option>
                                    <option value="Professor">Professor</option>
                                </select>
                            </div>
          
                            <div id="campos-comuns" style="display: none;">

                                <div id="campos-aluno" style="display: none;">
                                    <div>
                                        <label for="ra">RA:</label><br>
                                        <input type="text" id="ra" name="ra" placeholder="Insira o RA" required><br>
                                    </div>
        
                                    <div>
                                        <label for="turma">Turma:</label>
                                        <select name="turma" id="turma" required>
                                            <option value="" disabled selected>Selecione uma Turma</option>   
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                        </select>
                                    </div>
                                </div>

                                <div>
                                    <label for="nome">Nome:</label><br>
                                    <input type="text" id="nome" name="nome" placeholder="Insira o nome" required><br>
                                </div>

                                <div>
                                    <label for="cpf">CPF:</label><br>
                                    <input type="text" id="cpf" name="cpf" placeholder="Insira o CPF" required><br>
                                </div>
                                
                                <div>
                                    <label for="dt_nascimento">Data de Nascimento:</label><br>
                                    <input type="date" id="dt_nascimento" name="dt_nascimento" required><br>
                                </div>

                                <div>
                                    <label for="email">Email:</label><br>
                                    <input type="email" id="email" name="email" placeholder="Insira o email" required><br>
                                </div>

                                <div id="campos-professor" style="display: none;">
                                    <div>
                                        <label for="papel">Papel:</label>
                                        <select name="papel" id="papel" required>
                                            <option value="" disabled selected>Selecione o Papel do Professor</option>   
                                            <option value="Diretor">Diretor</option>
                                            <option value="Coordenador">Coordenador</option>
                                            <option value="Orientador">Orientador</option>
                                            <option value="TG">TG</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="div-btn">
                            <button type="submit" >Cadastrar Usuário</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
        
    </body>

    <script>
        const areaAtuacao = document.getElementById("areaAtuacao");
        const camposComuns = document.getElementById("campos-comuns");
        const camposProfessor = document.getElementById("campos-professor");
        const camposAluno = document.getElementById("campos-aluno");
    
        areaAtuacao.addEventListener('change', function() {
            // Exibe os campos comuns para ambas as posições
            camposComuns.style.display = "block"; 
    
            // Limpa a exibição de campos específicos
            camposAluno.style.display = "none";
            camposProfessor.style.display = "none";

            const papel = document.getElementById("papel")
            const ra = document.getElementById("ra")
            const turma = document.getElementById("turma")
            
            papel.removeAttribute("disabled")
            ra.removeAttribute("disabled")
            turma.removeAttribute("disabled")

            // Exibe os campos específicos de acordo com a posição selecionada
            if(areaAtuacao.value === "Aluno"){
                camposAluno.style.display = "block";
                papel.setAttribute("disabled", "");
            } else if(areaAtuacao.value === "Professor"){
                camposProfessor.style.display = "block";
                ra.setAttribute("disabled", "");
                turma.setAttribute("disabled", "");              
            }
        });
    </script>
    

</html>
