<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Admin</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="homeAdmin.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo2.jpg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <div class="container">
            <aside>   
                <ul>
                    <li>
                        <a href="homeAdmin.html"> 
                            <img src="../src/assets/img/user-gear.svg" alt="Ferramenta Usuários" >
                            <p>Usuários</p>
                        </a>
                    </li>
                    <li>
                        <a href="cursos.html"> 
                            <img src="../src/assets/img/graduation-cap.svg" alt="Ferramenta Cursos" >
                            <p>Cursos</p>
                        </a>
                    </li>
                    <li>
                        <a href="#"> 
                            <img src="../src/assets/img/user-gear.svg" alt="Ferramenta Usuários" >
                            <p>Usuários</p>
                        </a>
                    </li>
                </ul>
            </aside>
            <main class="main-forms-cadastro">
                <h2>Ferramentas: Cadastrar Usuários</h2>
                
                <div class="div-form">
                    <form action="turma.html">
                        <div>
                            <div>
                                <label for="nome">Nome</label><br>
                                <input type="text" id="nome" name="nome" placeholder="Insira o nome" ><br>
                            </div>
                            <div>
                                <label for="cpf">CPF</label><br>
                                <input type="text" id="cpf" name="cpf" placeholder="Insira o CPF" ><br>
                            </div>
                            <div>
                                <label for="dt_nascimento">Data de Nascimento</label><br>
                                <input type="date" id="dt_nascimento" name="dt_nascimento" placeholder="Insira a data de nascimento" ><br>
                            </div>
        
        
        
        
        
                            <div>
                                <label for="email">Email</label><br>
                                <input type="email" id="email" name="email" placeholder="Insira o email" ><br>
                            </div>
                            <div>
                                <label for="senha">Senha Temporária</label><br>
                                <input type="password" id="senha" name="senha" placeholder="*********">
                            </div>
                            <div>
                                <label for="posicao">Posição:</label>
            
                                <select name="posicao" id="posicao">
                                <option value="" disabled selected>Selecione uma posição</option>   
                                <option value="Aluno">Aluno</option>
                                <option value="Professor">Professor</option>
                                <option value="Coordenador">Coordenador</option>
                                </select>
                            </div>
        
                        </div>
                            
                        <div class="div-btn-login">
                            <a href="homeAdmin.html">
                                <input type="submit" class="buttonForm" value="Enviar">
                            </a>
                        </div>
                    </form>
                </div>
            </main>
        </div>
        
    </body>
</html>