<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Admin</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="homeAdmin.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo-sgtc.svg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <div class="container">
            <aside>   
                <ul>
                    <li>
                        <a href="homeAdmin.html"> 
                            <img src="../src/assets/img/user-gear.svg" alt="Ferramenta Usuários" >
                            <p>Usuários</p>
                        </a>
                    </li>
                    <li>
                        <a href="cursos.html"> 
                            <img src="../src/assets/img/graduation-cap.svg" alt="Ferramenta Cursos" >
                            <p>Cursos</p>
                        </a>
                    </li>
                    <li>
                        <a href="turmas.html"> 
                            <img src="../src/assets/img/users-rectangle.svg" alt="Ferramenta Turmas" >
                            <p>Turmas</p>
                        </a>
                    </li>
                    <li>
                        <a href="disciplinas.html"> 
                            <img src="../src/assets/img/book-solid.svg" alt="Ferramenta Disciplinas" >
                            <p>Disciplinas</p>
                        </a>
                    </li>
                </ul>
            </aside>
            <main>
                <h2>Ferramentas > <a href="disciplinas.html">Disciplinas</a></h2>
                <div class="div-cards">
                    <a href="visualizarDisciplinas.html">
                        <div class="card">
                            <img src="../src/assets/img/book-solid.svg" alt="Visualizar Usuários" >
                            <div>
                                <span>Visualizar Disciplinas</span>                    
                            </div>
                        </div>
                    </a>
    
                    <a href="cadastrarDisciplinas.html">
                        <div class="card">
                            <img src="../src/assets/img/book-medical-solid.svg" alt="Adicionar Usuários" >
                            <div>
                                <span>Cadastrar Disciplinas</span>
                            
                            </div>
                        </div>
                    </a>
    
                </div>
            </main>
        </div>
        
    </body>
</html>