<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - turma</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="turma.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo2.jpg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <main>
            <h2>Ferramentas</h2>
            <div class="conjunto-ferramentas">
                <div class="ferramenta">
                    <img src="../src/assets/img/logo-scannerrf.PNG" alt="Imagem do projeto" >
                    <div class="about">
                        <span>FERRAMENTA 1</span>
                    
                    </div>
                </div>

                <div class="ferramenta">
                    <img src="../src/assets/img/logo-scannerrf.PNG" alt="Imagem do projeto" >
                    <div class="about">
                        <span>FERRAMENTA 2</span>
                        
                    </div>
                </div>

                <div class="ferramenta">
                    <img src="../src/assets/img/logo-scannerrf.PNG" alt="Imagem do projeto" >
                    <div class="about">
                        <span>FERRAMENTA 3</span>
                        
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>