<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Admin</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="homeAdmin.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo-sgtc.svg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <div class="container">
            <aside>   
                <ul>
                    <li>
                        <a href="homeAdmin.html"> 
                            <img src="../src/assets/img/user-gear.svg" alt="Ferramenta Usuários" >
                            <p>Usuários</p>
                        </a>
                    </li>
                    <li>
                        <a href="cursos.html"> 
                            <img src="../src/assets/img/graduation-cap.svg" alt="Ferramenta Cursos" >
                            <p>Cursos</p>
                        </a>
                    </li>
                    <li>
                        <a href="turmas.html"> 
                            <img src="../src/assets/img/users-rectangle.svg" alt="Ferramenta Turmas" >
                            <p>Turmas</p>
                        </a>
                    </li>
                    <li>
                        <a href="diciplinas.html"> 
                            <img src="../src/assets/img/book-solid.svg" alt="Ferramenta Diciplinas" >
                            <p>Diciplinas</p>
                        </a>
                    </li>
                </ul>
            </aside>
            <main>
                <h2>Ferramentas > <a href="homeAdmin.html">Usuários</a> > <a href="importarUsuarios.html">Importar Usuários</a></h2>
                
                <form action="turma.html">
                    <div class="col">
                        <div class="div-input">
                            <label for="arquivo">Anexe o Arquivo</label><br>
                            <input type="file" id="arquivo" name="arquivo" value="a" ><br>
                        </div>
                        
                    </div>
                        
                    <div class="div-btn-login">
                        <a href="turma.html">
                            <input type="submit" class="buttonForm" value="Enviar">
                        </a>
                    </div>
                </form>
            </main>
        </div>
        
    </body>
</html>