<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Login</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <main class="main-login">
            <div class="div-logo-login">
                <img src="../src/assets/img/logo-sgtc.svg" alt="Logo do sistema">
                <h1>SGTC</h1>
            </div>
            <form action="turma.html">
                <div>
                    <label for="login">Login</label><br>
                    <input type="text" id="login" name="login" placeholder="login@gmail.com" ><br>
                </div>
                <div>
                    <label for="senha">Senha</label><br>
                    <input type="password" id="senha" name="senha" placeholder="*********">
                </div>
                <div class="div-btn">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </main>
    </body>
</html>