<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - turma</title>

        <!-- CSS -->
        <link rel="stylesheet" href="src/assets/css/style.css">

        <!-- Microsoft Clarity -->
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "o8rb40q7xo");
        </script>
    </head>
    <body>
        <header>
            <a href="turma.html">
                <div class="div-logo">     
                    <img src="src/assets/img/logo2.jpg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <main>
            <h2>Turma: DPP 4° semestre</h2>
            <a href="projetoScan.html">
            <div class="project">
                    <img src="src/assets/img/logo-scannerrf.PNG" alt="Imagem do projeto" >
                    <div class="about">
                        <span>ScannerRF</span>
                        <p>Esse projeto tem como objetivo implantar o reconhecimento facial nos ambientes escolares</p>
                    </div>
                </div>
            </a>
            <a href="projetoLear.html">
                <div class="project">
                    <img src="src/assets/img/lear.png" alt="Imagem do projeto">
                    <div class="about">
                        <span>Lear+</span><br>
                        <p>Esse projeto tem como objetivo aprimorar o conhecimento dos alunos.</p>
                    </div>
                </div>
            </a>
        </main>
    </body>
</html>