<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGTC - Admin</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/assets/css/style.css">

    </head>
    <body>
        <header>
            <a href="homeAdmin.html">
                <div class="div-logo">     
                    <img src="../src/assets/img/logo-sgtc.svg" alt="Imagem da logo SGTC" class="img-logo">
                    <h1>SGTC</h1>   
                </div>
            </a> 
            <a href="#" class="user-logo">
                <img src="../src/assets/img/user.png" alt="Foto de perfil do usuário" class="img-user">
            </a>
        </header>
        <div class="container">
            <aside>   
                <ul>
                    <li>
                        <a href="homeAdmin.html"> 
                            <img src="../src/assets/img/user-gear.svg" alt="Ferramenta Usuários" >
                            <p>Usuários</p>
                        </a>
                    </li>
                    <li>
                        <a href="cursos.html"> 
                            <img src="../src/assets/img/graduation-cap.svg" alt="Ferramenta Cursos" >
                            <p>Cursos</p>
                        </a>
                    </li>
                    <li>
                        <a href="turmas.html"> 
                            <img src="../src/assets/img/users-rectangle.svg" alt="Ferramenta Turmas" >
                            <p>Turmas</p>
                        </a>
                    </li>
                    <li>
                        <a href="diciplinas.html"> 
                            <img src="../src/assets/img/book-solid.svg" alt="Ferramenta Diciplinas" >
                            <p>Diciplinas</p>
                        </a>
                    </li>
                </ul>
            </aside>
            <main>
                <h2>Ferramentas > <a href="homeAdmin.html">Usuários</a>  > <a href="visualizarUsuarios.html">Visualizar Usuários</a></h2>
                <div class="div-filtro">
                    <input type="text" id="filtro_nome" name="filtro_nome" class="inpt-filtro" placeholder="Filtrar Usuário" ><br>
                    <div class="div-logo-pesquisa">
                        <img src="../src/assets/img/icons8-pesquisar.svg" />
                    </div>
                </div>
    
                <div class="div-tabela">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Data de Nascimento</th>
                                <th>CPF</th>
                                <th>Email</th>
                                <th>Posição</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>João Silva</td>
                                <td>15/05/1990</td>
                                <td>123.456.789-00</td>
                                <td>joao.silva@email.com</td>
                                <td>Aluno</td>
                                <td>SP</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Maria Souza</td>
                                <td>23/07/1985</td>
                                <td>987.654.321-00</td>
                                <td>maria.souza@email.com</td>
                                <td>Professora</td>
                                <td>RJ</td>
                            </tr>
                            <!-- Adicione mais linhas conforme necessário -->
                        </tbody>
                    </table>
                    
                </div>
                
            </main>
        </div>
        
    </body>
</html>