/* color palette from <https://github.com/vuejs/theme> */
:root {
  --body-bg:#ECEBE2;
  --div-acessibilidade-bg:#afafaf;
  --menu-bg: #004D73;
  --a-color: white;
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, sans-serif;
}


/* Reset */
* {
  
}
body {
  color: var(--color-text);
  background: var(--body-bg);
}
