<script src="../public/js/cursos/cadastrarCurso.js"></script>

<main class="main-forms">
    <h2>Ferramentas > <a href="/pageCursos">Cursos</a> > <a href="/pageCadastrarCursos"> Cadastrar Cursos</a></h2>
    
    <form method="POST">
        <div>
            <label for="nome">Nome do Curso</label><br>
            <input type="text" id="nome" name="nome" placeholder="Insira o nome" required><br>
        </div>
    
        <div>
            <label for="duracao">Duração do Curso</label>                   
            <div class="div-flex-input">
                <div>
                    <input type="number" id="duracao" name="duracao" min="0" max="10" required>
                </div>
                <div>
                    <select name="tipoPeriodo" id="tipoPeriodo" required>
                        <option value="" disabled selected>Selecione a Duração do Curso</option>   
                        <option value="Semestral">Meses</option>
                        <option value="Anual">Anos</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div>
            <label for="coordenador">Coordenador do Curso</label><br>
            <select name="coodernador" id="coodernador" required>
                <option value="" disabled selected>Selecione o Coordenador</option>  
                {{#each coordenadores}} 
                    {{#dataValues}}
                        <option value="{{nome}}">{{nome}}</option>
                    {{/dataValues}}
                {{/each}}
            </select>
        </div>
    
        <div>
            <label>Período do Curso</label><br>
            <div class="col-checkbox">
                <div>
                    <input type="checkbox" name="matutino" value="matutino"> 
                    <label>Matutino</label>
                </div>
    
                <div>
                    <input type="checkbox" name="vespertino" value="vespertino">  
                    <label>Vespertino</label>  
                </div>
    
                <div>
                    <input type="checkbox" name="noturno" value="noturno"> 
                    <label>Noturno</label>         
                </div>  

                <span class="turno-erro invisible">Selecione ao menos um turno.</span>                         
            </div>
        </div>
        <div class="div-btn">
            <button type="submit">Cadastrar Curso</button>
        </div>
    </form>
    
</main>