<h2>Ferramentas > <a href="/pageCursos">Cursos</a></h2>
<div class="div-cards">
    <a href="/cursos">
        <div class="card">
            <img src="../../public/img/user-group.svg" alt="Visualizar Usuários" >
            <div>
                <span>Visualizar Cursos</span>                    
            </div>
        </div>
    </a>

    <a href="/pageCursosCadastrar">
        <div class="card">
            <img src="../../public/img/add-user.svg" alt="Adicionar Usuários" >
            <div>
                <span>Cadastrar Cursos</span>
            </div>
        </div>
    </a>

</div>