<h2>Ferramentas > <a href="/pageDisciplinas">Disciplinas</a></h2>
<div class="div-cards">
    <a href="/disciplinas">
        <div class="card">
            <img src="../../public/img/book-solid.svg" alt="Visualizar Usuários" >
            <div>
                <span>Visualizar Disciplinas</span>                    
            </div>
        </div>
    </a>

    <a href="cadastrarDisciplinas.html">
        <div class="card">
            <img src="../../public/img/book-medical-solid.svg" alt="Adicionar Usuários" >
            <div>
                <span>Cadastrar Disciplinas</span>
            
            </div>
        </div>
    </a>

</div>