<h2>Ferramentas > <a href="/pageTurmas">Turmas</a></h2>
<div class="div-cards">
    <a href="/turmas">
        <div class="card">
            <img src="../../public/img/users-rectangle.svg" alt="Visualizar Usuários" >
            <div>
                <span>Visualizar Turmas</span>                    
            </div>
        </div>
    </a>

    <a href="cadastrarTurmas.html">
        <div class="card">
            <img src="../../public/img/users-gear.svg" alt="Adicionar Usuários" >
            <div>
                <span>Cadastrar Turmas</span>                    
            </div>
        </div>
    </a>

</div>