<h2>Ferramentas > <a href="/">Usuários</a> > <a href="/visualizarUsuarios">Visualizar Usuários</a></h2>
<div class="div-filtro">
    <input type="text" id="filtro_nome" name="filtro_nome" class="inpt-filtro" placeholder="Filtrar Usuário" ><br>
    <div class="div-logo-pesquisa">
        <img src="../src/assets/img/icons8-pesquisar.svg" />
    </div>
</div>

<div class="div-cards">
    <!-- listar usuarios -->
    {{#each turmas}}
        {{#dataValues}}
            {{nome}}
        {{/dataValues}}
    {{/each}}
    <a href="iduser" id="cardLink">
        <div class="card-usuario">
            <img src="../src/assets/img/logo.jpg" alt="Visualizar Usuários" >
            <div>
                <span>User 1</span>                    
            </div>
        </div>
    </a>

    <div id="modal-user" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../src/assets/img/logo.jpg" alt="Visualizar Usuários" >
            <h2>Nome: </h2>
            <p>CPF:</p>
            <p>Email:</p>
            <p>Senha:</p>
            <p>Data de Nascimento:</p>

            <div>
                <a><button>Editar</button></a>
            </div>
        </div>
    </div>
    
</div>
                