/* /*definindo variaveis*/
:root{
  --bg-body:#f8f7f4;
  --bg-div-acessibilidade:#afafaf;
  --font-color-acessibilidade: #000000;

  --bg-div-logo-aside: #004D73;
  --h1-link-color: white;
  --link-color: rgb(0, 0, 0);
  --font-logo: white;
  --link-color-p: white;

  --font-color-h1-linkpag: #000000;
  --font-color-label: #000000;

  --bg-option-menu: #f1f1f1;
  --bg-option-menu-active: #004D73;
  --font-color-p-menu: #000000;

  --bg-footer-aside: #f1f1f1;

  --box-shadow-color: rgba(2, 2, 2, 0.3);
}

.dark-mode:root{
  --bg-body:#000000;
  --bg-div-acessibilidade:#2c2c2c;
  --font-color-acessibilidade: #ffffff;
  --bg-div-logo-aside: black;
  --h1-link-color: #fff333;
  --link-color: #fff333;
  --font-logo: #fff333;
  --link-color-p: #fff333;


  --font-color-h1-linkpag: #ffffff;
  --font-color-label: #ffffff;
  --bg-option-menu: black;
  --font-color-p-menu: #ffffff;
  --bg-option-menu-active: #333333;

  --bg-footer-aside: black;

  --box-shadow-color: rgba(255, 255, 255, 0.3);
}

#app {
  padding: 0;
  margin: 0;
  bottom: 0;
  /* width: 100vw; */
  overflow: hidden;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body{
  background-color: var(--bg-body);
  list-style: none;
  font-family: Arial, sans-serif;
}



.router-link{
  text-decoration: none;
  color: var(--link-color);
}


.div-link-pagina{
  text-align: center;
  padding: 1rem;
  color: var(--font-color-h1-linkpag);
}

.div-cards{
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  box-shadow: 0px 4px 8px var(--box-shadow-color);
  border-radius: 10px;
  flex-direction: column;
  width: 300px;
  padding: 20px; 
  

  .div-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    padding: auto;
    align-items: center;
    text-align: center;
    
    img, svg{
      width: 80px;
      height: auto;
      color: var(--font-color-p-menu);
    }
    span {
      font-size: 1.2rem; 
      font-weight: bold; 
    }
  }
  
}  

.card-longo{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(2, 2, 2, 0.3);
  margin-bottom: 1rem;
  border-radius: 10px;
  gap: 2.5rem;
  padding: 20px;
  
  .div-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    padding: auto;
    align-items: center;
    
    img, svg{
        width: 100px;
        height: auto;
    }
    span {
      font-size: 1.5rem; 
      font-weight: bold; 
    }
  }
  
}


.card-usuario{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(2, 2, 2, 0.3);
  margin-bottom: 1rem;
  border-radius: 10px;
  gap: 1rem;
  width: 200px;
  padding: 20px;

  .div-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    padding: auto;
    align-items: center;
    
    img, svg{
      width: 80px;
      height: auto;
    }
    span {
      font-size: 1.5rem; 
      font-weight: bold; 
    }
  }

}

.div-funcoes-card {
  display: flex;
  gap: 0.5rem; 
  justify-content: flex-end;
}

input[type="text"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

form{
  label{
    color: var(--font-color-label);
  }
  div{
    /* input{
      width: 100%; /* Ocupa 100% da largura da div 
      box-sizing: border-box; /* Inclui padding e borda no cálculo do width 
    } */
    /* Inputs das telas */
    input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, input[type="file"]{
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    } 
  }
}



/* Corpo da pagina de login*/
.main-login {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* Div que une a logo e o nome do sistema */
  .div-logo-login{
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      
      h1{
          padding-bottom: 10px;
      }

      img{
          width: 150px;
          height: auto;
      }
  }
}


.div-btn{
  text-align: center; 
  
  button {
    background-color: rgb(49, 48, 48);
    padding: 10px;
    width: 50vw;
    color: #e4e2e2;
    border-radius: 4px;
    font-size: 14pt;
    text-align: center;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 1;
  }
}

.div-flex-input {
  display: flex;
  gap: 10px;
  align-items: center;
  
  div {
      flex: 1; /* Faz com que cada campo ocupe metade da linha */
  }
  
  input, select {
      width: 100%; 
  }
}

.div-conteudo-principal{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 20px;
  flex: 1;  
  
}


.div-filtro{
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-items: center;

  img, svg{
    width: 36px;
    height: auto;
  }

  .div-icon-pesquisa{
    margin-bottom: 15px;
  }
}


/* Cadastrar Curso */
.col-checkbox{
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos quebrem de linha */
  gap: 20px; /* Espaço entre os campos */
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
 
  div{
    display: flex;
    input[type="checkbox"]{
      transform: scale(2.5);
      border: 1px solid #ccc;
      margin-right: 20px;
    }
  }
}

/* Curso Especifico */
.opcoes-curso{
  display: flex;
  justify-content: space-between;
  
  img{
      width: 5px;
      height: auto;
  }
}


@media (max-width: 768px) {  

}

.open{
  display: flex;
}

